.btn {
    @apply inline-flex items-center text-center px-5 py-3 rounded-full min-h-[36px] md:min-h-[51px] button-1 font-bold;
}

.btn-primary {
    @apply bg-brand-300 text-brand-100 lg:hover:bg-brand-100 lg:hover:text-brand-200 duration-300 ease-in-out;
}

.btn-secondary {
    @apply bg-primary text-brand-200 lg:hover:bg-brand-100 lg:hover:text-brand-200 duration-300 ease-in-out;
}
