.prose {
    @apply max-w-none;
    overflow: unset;
    > *:first-child {
        *:first-child {
            @apply mt-0;
        }
        @apply mt-0;
    }
    > *:last-child {
        *:last-child {
            @apply mb-0;
        }
        @apply mb-0;
    }
    * {
        @apply text-gray-700 body-1 p-0 m-0;
    }
    h2,
    h3,
    h4,
    strong {
        @apply text-gray-900 my-[0.5rem] md:my-[0.75rem] xl:my-[1rem];
    }
    h2 {
        @apply title-1 lg:scroll-mt-[74px] scroll-mt-[58px];
    }
    h3 {
        @apply title-2 lg:scroll-mt-[74px] scroll-mt-[58px];
    }
    h4,
    strong {
        @apply title-3;
    }

    p {
        @apply my-[0.5rem] md:my-[0.75rem] xl:my-[1rem];
    }

    ul {
        @apply list-none pl-[0.25rem] md:pl-[0.375rem] xl:pl-[0.625rem] space-y-[0.25rem] md:space-y-[0.375rem] xl:space-y-[0.5rem] my-[0.5rem] md:my-[0.75rem] xl:my-[1rem];
        li {
            display: list-item;
            @apply relative m-0 p-0 pl-[0.625rem] md:pl-[0.75rem];
            &::before {
                content: '';
                @apply w-1 h-1 rounded-full absolute top-[0.25rem] md:top-[0.375rem] xl:top-[0.5rem] left-0 translate-y-full xl:translate-y-1/2 bg-gray-700;
            }
        }
    }

    p + ul {
        @apply -translate-y-0.5 md:translate-y-[-3px] xl:-translate-y-1 mb-[0.375rem] md:mb-[0.5rem] xl:mb-[0.75rem];
    }
    ul + p {
        @apply mt-[0.375rem] md:mt-[0.5rem] xl:mt-[0.75rem];
    }

    // TODO
    a {
        @apply text-blue-dark-600  underline;
    }
    // TODO
    ol {
        @apply list-inside pl-0;
        li {
            @apply pl-0;
            &::marker {
                @apply font-sans;
            }
        }
    }
    img,
    figure {
        @apply my-[1rem] md:my-[1.5rem] xl:my-[2rem] w-full h-auto;
    }

    // TODO
    figure {
        img {
        }
        figcaption {
        }
    }
    // TODO
    hr {
    }
    table {
        border-collapse: collapse; // Gộp các đường viền lại thành một
        width: 100%; // Độ rộng của bảng

        tbody {
            tr {
                td {
                    border: 1px solid #ddd; // Màu và độ dày của đường viền
                    padding: 8px; // Khoảng cách giữa nội dung và đường viền
                }

                &:nth-child(odd) {
                    background-color: #f0f0f0; // Màu nền cho các hàng số lẻ
                }
            }
        }

        thead {
            tr {
                th {
                    border: 1px solid #ddd; // Đường viền cho header
                    padding: 8px;
                    background-color: #f4f4f4; // Màu nền cho header
                    text-align: left; // Căn lề văn bản
                }
            }
        }

        // Đường border tổng thể bên ngoài bảng
        border: 1px solid #ddd;

        // Tạo đường kẻ khi hover vào hàng
        tbody {
            tr:hover {
                background-color: #f5f5f5;
            }
        }
    }

    // TODO
    iframe {
    }

    // TEMPLATE COLS
    .template-2-cols,
    .template-3-cols {
        @apply flex space-x-[0.25rem] md:space-x-[0.75rem] xl:space-x-[1.5rem] my-[1rem] md:my-[1.375rem] xl:my-[2rem];
        .template-item {
            @apply flex-1;
            img {
                @apply my-0 object-cover w-full h-full;
            }
        }
    }
}

.prose.prose-minestone {
    h2 {
        @apply headline-2;
    }
}

.prose {
    p,
    li {
        @apply text-justify;
    }
}

.prose-blog {
    h2 {
        @apply text-[22px] font-bold leading-[145%] font-sans text-gray-900 mt-4 md:mt-6 xl:mt-8 mb-3 lg:mb-4 first:mt-0;
    }
    p {
        @apply text-[16px] leading-[150%] font-third;
    }
    img {
        @apply md:my-6 my-4 xl:my-8;
    }
}

.prose-infomation {
        ul {
        @apply list-none pl-[0.25rem] md:pl-[0.375rem] xl:pl-[0.625rem] space-y-[0.25rem] md:space-y-[0.375rem] xl:space-y-1 my-[0.5rem] md:my-[0.75rem] xl:my-[1rem];
        li {
            display: list-item;
            @apply relative m-0 p-0 pl-[0.625rem] md:pl-[0.75rem];
            &::before {
                content: '';
                @apply w-1 h-1 rounded-full absolute top-[0.25rem] md:top-[0.375rem] xl:top-[0.55rem] left-0 translate-y-full xl:translate-y-1/2 bg-gray-700;
            }
        }
    }
}